[submodule "Assets/UIKit"]
	path = Assets/UIKit
	url = https://github.com/shadyasdf/uikit
[submodule "Assets/UnityStandaloneFileBrowser"]
	path = Assets/UnityStandaloneFileBrowser
	url = https://github.com/shadyasdf/UnityStandaloneFileBrowser
[submodule "Assets/VoxelMesh"]
	path = Assets/VoxelMesh
	url = https://github.com/shadyasdf/voxelmesh
